*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.x{
    /* layout , position  */

    /* box, border*/

    /* background, backdrop-filter  */

    /* Text, Font, Line  */

    /* Pseudo  */

    /* Animate  */

}
